<div class="container">
  <div class="row">
    <div class="col">
      <app-game-control (gameNumber)="onGameRunning($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Odd numbers:</h4>
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    </div>
    <div class="col-sm-3">
      <h4>Even numbers:</h4>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>
