<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- Using two-way data binding: -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <!-- Using local references: -->
      <input type="text" class="form-control" #inputServerName>
      <label>Server Content</label>
      <!-- Using two-way data binding: -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <!-- Using local references (passed through ViewChild): -->
      <input type="text" class="form-control" #inputServerContent>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(inputServerName)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(inputServerName)">Add Server Blueprint</button>
    </div>
  </div>
